table {
    border-spacing: 15px;
    <table style="width:18%">
}
 .row1 {
     border: 1px solid black;
     border-collapse: collapse;
     border-radius: 9px;
     box-shadow: 4px 4px 4px rgba(7, 7, 7, 0.588);
     padding: 10px;
 }
